<div class="row align-items-center min-vh-100">
  <div class="col-lg-6">
    <div class="row">
      <div class="col-12">
        <div class="card my-2">
          <div class="card-header">
            Variables
          </div>
          <div class="card-body">
            <cg-variables [variables]="variables"></cg-variables>
          </div>
        </div>
      </div>

      <div class="col-12">
        <div class="card my-2">
          <div class="card-header">
            Template
          </div>
          <div class="card-body">
            <cg-template
              [template]="template"
              [tabs]="tabs"
            ></cg-template>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-lg-6">
    <div class="card min-vh-100">
      <div class="card-header">
        Rendered content
      </div>
      <div class="card-body p-0">
        <cg-renderer
          [tabs]="tabs"
          [template]="template"
          [variables]="variables"
        ></cg-renderer>
      </div>
    </div>
  </div>
</div>
