# GIT_COMMITER_NAME="Arthur Oliveira"
GIT_AUTHOR_NAME=Arthur Oliveira
GIT_COMMITTER_NAME=Arthur Oliveira
GIT_AUTHOR_EMAIL=arthur.oliveira@hotmail.com.br
GIT_COMMITTER_EMAIL=arthur.oliveira@hotmail.com.br
