<ul
  ngbNav
  #nav="ngbNav"
  [(activeId)]="active"
  class="nav-tabs"
>
  <li
    *ngFor="let tab of (tabs | async); let i=index"
    [ngbNavItem]="tab.id"
  >
    <a ngbNavLink>
      {{ tab.name || 'Tab ' + (i + 1) }}
      <button class="btn btn-dark btn-sm ml-2"
        *ngxClipboardIfSupported
        (click)="copyToClipboard(tab)"
      >Copy</button>
    </a>
    <ng-template ngbNavContent>
      <pre class="border border-dark m-0"
        [innerHTML]="(processedTemplates | async)[tab.id]"
      ></pre>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class=""></div>
