<div class="row">
  <div class="col-lg-6 row">
    <div class="col-12">
      variables
      <div class="row"
        *ngFor="let variable of variables.controls; let i=index">
        <div class="col-5">
          <input
            type="text"
            class="form-control"
            placeholder="Name"
            [formControl]="variable.get('name')">
        </div>
        <div class="col-5">
          <input
            type="text"
            class="form-control"
            placeholder="Value"
            [formControl]="variable.get('value')">
        </div>
        <div class="col">
          <button class="btn btn-danger"
            (click)="removeVariable(variable, i)"
          >X</button>
        </div>
      </div>
      <div class="col-12">
        <button class="btn btn-primary btn-block"
          (click)="addVariable()"
        >Add variable</button>
      </div>
    </div>

    <div class="col-12">
      template
      <cg-template [template]="template"></cg-template>
    </div>
  </div>

  <div class="col-lg-6">
    <pre>code will appear here</pre>
  </div>
</div>
