<div class="row">
  <div class="col-lg-6 row">
    <div class="col-12">
      variables
      <div class="row"
        *ngFor="let variable of variables.controls; let i=index">
        <div class="col-5">
          <input
            type="text"
            class="form-control"
            [formControl]="variable">
        </div>
        <div class="col-5">
          <input
            type="text"
            class="form-control"
            [formControl]="variable">
        </div>
        <div class="col">
          <button class="btn btn-danger">X</button>
        </div>
      </div>

      {{ variables.value | json }}
    </div>

    <div class="col-12">
      template
    </div>
  </div>

  <div class="col-lg-6">
    <pre>code will appear here</pre>
  </div>
</div>
